---
import BaseLayout from "@/layout/BaseLayout.astro";
import { getPostUrl, getPosts } from "@/lib/posts";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getPosts();

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: {
      posts: allPosts.filter((post) => post.data.tags.includes(tag)),
    },
  }));
}

const { tag } = Astro.params;

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<BaseLayout title={tag || "Tag"}>
  <p>Posts tagged with {tag}</p>
  {
    posts.map((post) => (
      <li>
        <a href={getPostUrl(post)}>{post.data.title}</a>
      </li>
    ))
  }
</BaseLayout>
