---
import BaseLayout from "@/layout/BaseLayout.astro";
import { getPosts } from "@/lib/posts";

const allPosts = await getPosts();

const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout title={"Tags"}>
  {
    uniqueTags.map((tag: string) => (
      <li>
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))
  }
</BaseLayout>
