---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard";
import { SITE, isFeatureEnabled } from "@config";
import TwinklingStars from "@components/Visual/TwinklingStars.astro";
import MeteorShower from "@components/Visual/MeteorShower.astro";
import Crescent from "@components/Visual/Crescent.astro";
import Hero from "@components/Hero.astro";
import Interests from "@components/Interests.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const projects = isFeatureEnabled("projects")
  ? (await getCollection("projects"))
      .filter((project) => !project.data.draft)
      .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
      .slice(0, 3)
  : [];
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-main hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <Crescent />

    <div
      class="animate absolute h-full w-full flex items-center justify-center"
    >
      <Hero />
    </div>
  </section>

  <div class="relative bg-white dark:bg-main">
    <div class="mx-auto max-w-screen-sm p-5 space-y-4 md:space-y-12 pb-16">
      <section class="animate">
        <article class="text-xl text-black dark:text-white">
          <h3 class="text-2xl font-bold text-black dark:text-white">
            About me
          </h3>

          <p>
            I specialise in creating software for <span class="text-accent"
              >the web</span
            >. Programming and computer science is my <span class="text-accent"
              >passion</span
            >.
          </p>

          <p>
            I learn everything on my own which gives me a strong <span
              class="text-accent">confidence</span
            > and
            <span class="text-accent">independence</span>.
          </p>

          <p>
            I am always interested in new
            <span class="text-accent">technologies</span>. In the field of
            technology, I see
            <span class="text-accent">no barriers</span>.
          </p>
        </article>
      </section>

      <section class="animate">
        <article>
          <h3 class="text-2xl font-bold text-black dark:text-white">
            My skills and interests
          </h3>

          <Interests />
        </article>
      </section>

      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <h3 class="text-2xl font-bold text-black dark:text-white">
              Recent posts
            </h3>

            <a
              href="/blog"
              class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend"
            >
              <span
                class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend"
              >
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {
              posts.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </div>
      </section>

      <!-- Project Preview Section -->
      {
        isFeatureEnabled("projects") && (
          <section class="animate">
            <div class="space-y-4">
              <div class="flex justify-between">
                <h3 class="text-2xl font-bold text-black dark:text-white">
                  Recent projects
                </h3>

                <a
                  href="/projects"
                  class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend"
                >
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    All projects
                  </span>
                </a>
              </div>
              <ul class="space-y-4">
                {projects.map((project) => (
                  <li>
                    <ArrowCard entry={project} />
                  </li>
                ))}
              </ul>
            </div>
          </section>
        )
      }
    </div>
  </div>
</PageLayout>
