---
import Avatar from "../Avatar/Avatar.astro";

interface Props {
  variant?: "hero" | "default";
}

const { variant = "default" } = Astro.props;

const shouldShowLogo = variant === "default";

type Route = {
  label: string;
  href: string;
};

const routes: Route[] = [
  { label: "Blog", href: "/blog" },
  { label: "Projects", href: "/projects" },
  { label: "Contact", href: "/contact" },
];
---

<header
  class=`w-full h-16 flex align-middle py-4 px-6 ${shouldShowLogo ? "justify-between" : "justify-end"}`
>
  {
    shouldShowLogo && (
      <a href="/" class="flex align-middle gap-4 h-6">
        <Avatar variant="small" />
        <div class="my-auto text-lg leading-none text-accent font-bold">
          <span transition:name="name">Rafał Kornel</span>
        </div>
      </a>
    )
  }
  <nav class="flex align-middle md:gap-8 gap-4">
    {
      routes.map((route) => (
        <a
          class:list={[
            Astro.url.pathname === route.href ? "text-accent" : "",
            "leading-6",
          ]}
          href={route.href}
        >
          {route.label}
        </a>
      ))
    }
  </nav>
</header>
