---
import { Image } from "astro:assets";
import avatarImage from "./avatar.png";

interface Props {
  variant: "small" | "large";
  class?: string;
}

const { variant, class: className } = Astro.props;

const diameter = variant === "small" ? 24 : 264;
---

<div class:list={[className, "flex"]}>
  <Image
    width={diameter}
    height={diameter}
    class="rounded-full m-auto"
    src={avatarImage}
    alt="Rafał Kornel"
  />
</div>
