---
import UnderConstruction from "@/components/UnderConstruction.astro";
import BaseLayout from "@/layout/BaseLayout.astro";
import { getPostUrl, getPosts } from "@/lib/posts";

const allPosts = await getPosts();
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout title={pageTitle}>
  <UnderConstruction />
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={getPostUrl(post)}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
